body {
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  position: absolute;
  display: table
}

body {
  font-family: "Roboto", Arial;
}

font {
  font-family: "Times New Roman";
}

p {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}


 