body {
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  position: absolute;
  display: table
}

p {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

 @font-face {
   font-family: Roboto;
   src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
 }